{% extends "_base_page.html" %}

{% block page_title %}Save your search - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('main.index'),
          "label": "Digital Marketplace"
      },
      {
          "label": "Save your search"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class="single-question-page">
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-without-breadcrumb">
        <h1>
          Save your search
        </h1>
      </header>
    </div>
  </div>
  <form method="post" action="{{ url_for('direct_award.project_create') }}">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="question" id="title">
          <label for="input-title">
            <span class="question-heading">
              Save your search
            </span>
          </label>
          <span class="question-advice">
            <p>{{ search_summary.markup() }}</p>
          </span>
          <span class="question-advice" id="input-title-question-advice">
            <h2>Create a new saved search</h2>
            <p>Name your search. A short description of what you want to buy makes a good name.</p>
          </span>
          <span class="hint" id="input-title-answer-advice">
            100 characters maximum
          </span>
          <input type="text" name="title" id="input-title" class="text-box" value aria-describedby="input-title-question-advice input-title-answer-advice">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="search_api_url" value="{{ search_api_url }}"/>
          <input type="submit" class="button-save" name="return_to_overview" value="Save and continue">
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
